<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license_plate %>
    <%= f.text_field :license_plate %>
  </div>
  
  <div class="field">
    <%= f.label :vehicle_type %>
    <%= f.select :vehicle_type, options_for_select(Transaction::VEHICLES) %>
    
  </div>
  
  <div class="field">
    <%= f.label :mud %>
    <%= f.check_box :mud_in_bed %> <br />
  </div>
  
  <div class="field">
    <%= f.label "Bed Down?" %>
    <%= f.check_box :bed_down %> <br />
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
